{extend name="layout/base" /}
{block name="extra_head"}<link rel="stylesheet" href="/static/css/pages/user.css?v={$assets.css_ver}">{/block}
{block name="content"}
<div class="user-page">
    <div class="page-head">
        <a class="back-btn" href="/{$lang_seg}/me" aria-label="返回">‹</a>
        <h1 class="page-title">消息中心</h1>
    </div>
    {if empty($list)}<div class="empty">{$tt['point.Empty']|default='暂无消息'}</div>{/if}
    <div class="u-list">
    {foreach $list as $m}
        <a class="u-list-item" href="#">
            <div class="u-list-item__body">
                <div class="u-list-item__title">{:!empty($m["title"])?$m["title"]:(!empty($m["name"])?$m["name"]:'系统消息')}</div>
                <div class="u-list-item__meta">{:!empty($m["content"])?$m["content"]:(!empty($m["intro"])?$m["intro"]:'')}</div>
                <div class="u-list-item__time">{if !empty($m.create_time)}{:is_numeric($m.create_time)?date('Y-m-d H:i',$m.create_time):$m.create_time}{/if}</div>
            </div>
        </a>
    {/foreach}
    </div>
    {include file="components/_pagination" /}
    {include file="components/_tabbar" /}
</div>
{/block}
